<a href="{% url 'inicio' %}">Inicio</a>
<br>
<br>
<a href="{% url 'JugadorList' %}">Mis jugadores</a>
<br>
<br>
<a href="{% url 'JugadorCreate' %}">Añadir jugadores</a>
<br>
<br>
{% if not request.user.is_authenticated %}
    <a href="{% url 'Login' %}">Login</a>
    <br>
    <br>
    <a href="{% url 'register' %}">Registrarse</a>
{% endif %}

{% if request.user.is_authenticated %}
    <a href="{% url 'EditarPerfil' %}">Editar perfil</a>
    <br>
    <br>
    <a href="{% url 'AgregarAvatar' %}">Agregar avatar</a>
    <br>
    <br>
    <a href="{% url 'Logout' %}">Logout</a>
    <br>
    <br>
    {% if avatar %}
    <img height="40px" src="{{ avatar }}">
    {% endif %}
    <p>Hola, {{user.username }}!!</p>
{% endif %}

<br>
<br>
{% block inserte_aqui_su_contenido %}
{% endblock %}